{% extends "learning_logs/base.html" %}
{% load django_bootstrap5 %}

{% block page_header %}
<h2><a href="{% url 'learning_logs:topics' %}"><button class="btn btn-lg btn-outline-primary w-100">Topics</button></a></h2>
<h2><button class="btn btn-info btn-lg w-50">Add new Topic</button></h2>
{% endblock page_header %}

{% block content %}
    <!-- The action argument tells the browser where to send the data submitted in the form; in this case, we send it back to the view function new_topic().-->
    <form action="{% url 'learning_logs:new_topic' %}" method='post'>
        {% csrf_token %} <!-- to prevent attackers from using the form to gain unauthorized access to the server-->
        {% bootstrap_form form %}
        {% bootstrap_button button_type="submit" content="Add Topic" %}
    </form>

{% endblock content %}